<header>
  <%= link_to '/user' do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h2 class='header_title'>CREATE CATEGORY</h2>
  <i class="fas fa-search"></i>
</header>
<%= render 'layouts/flash'%>
<% if @errors %>
  <div class='errors'>
    <% @errors.each do |e|%>
        <p><%= e %></p>
    <% end %>
  </div>
<% end %>
<div class='form_div'>
  <%= form_with url: '/categories/create', method: :post do |form|%>
    <div>
      <%= form.text_field :name, placeholder: 'Category Name' %>
    </div>

    <div>
      <%= form.text_field :icon, placeholder: 'Category Icon' %>
    </div>

    <div>
      <%= form.submit 'Create', class: 'login' %>
    </div>
  <% end %>
</div>
